$white: #fff;
$header: rgba(255, 255, 255, .50);
$headerSM: rgba(255, 255, 255, .65);
$lightblue: rgba(153, 211, 237, .3);
$lightblueHeader: rgba(233, 240, 242, 1);
//$lightblueHeader: rgba(153, 211, 237, 1);
$darkgray: #1E2530;
$blue: #3AA2D0;
$darkblue: #2151AE;
$gray: #656565;
